--- 
# Feel free to add content and custom Front Matter to this file. 
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: page
title: Articles
permalink: /articles/
---

<div class="article-list">
  <div class="article-header">
    <h1 class="category-name">
      All
    </h1>
    <div class="category-list">
      <a href="#" class="active all">All</a>
      <span> / </span>
      {% for cat in site.categories %}
        {% if forloop.last %}
          <a href="#" class="{{ cat.title | downcase | replace: ' ', '-' }}c">{{ cat.title }}</a>
        {% else %}
          <a href="#" class="{{ cat.title | downcase | replace: ' ', '-' }}c">{{ cat.title }}</a>
        <span> / </span>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="grid">
    <div class="grid-sizer"></div>
    {% assign siteArticles = site.articles | sort: "date" | reverse %}
    {% for article in siteArticles %}
      <div class="grid-item {% for cat in article.categories %}{{ cat | downcase | replace: ' ', '-' | append: ' '}}{% endfor %}">
        <a href="{{ article.url }}">
          {% if article.image == "" %}
            {% asset default.jpg !type alt="{{ article.title }}" %}
          {% else %}
            {% assign articleUrl = article.image | split: '/' %}
            {% asset "{{ articleUrl | last }}" !type alt="{{ article.title }}" %}
          {% endif %}
          <div class="article-list-info">
            <p class="title">
              {{ article.title }}
            </p>
            <p class="excerpt">
              {{ article.content | strip_html | truncatewords: 10 }}
            </p>
            <p class="date">
              {{ article.date | date: "%b %d, %Y" }}
            </p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

