--- 
# Feel free to add content and custom Front Matter to this file. 
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: page
title: Artwork
permalink: /artworks/
---

<div class="artwork-list">
  <div class="grid">
    <div class="grid-sizer"></div>
    {% assign siteArtworks = site.artworks | sort: "date" | reverse %}
    {% for artwork in siteArtworks %}
    <div class="grid-item">
      {% assign artworkUrl = artwork.image | split: '/' %}
      <a href="{{ artwork.url }}">
        <div class="bg-artwork-holder" style="background-image: url({% asset "{{ artworkUrl | last }}" @path %})"></div>
        <div class="artwork-list-info">
          <p class="title">
            {{ artwork.title }}
          </p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>