---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: home
---
{% assign siteArticles = site.articles | sort: "date" | reverse %}
{% assign sitePress = site.press | sort: "order" %}
<section class="jumbo" style="background-image: url({% asset bg.jpg @path %})">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-xl-5 col-md-6 col-12">
        <div class="message">
          <h1>SILICON VALLEY<br>CEO. ARTIST.<br>WOMAN IN TECH</h1>
          <p>“…technology alone is not enough—it’s technology married with liberal arts, married with the humanities, that yields us
          the results that make our heart sing.” Steve Jobs</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="press">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% assign articleSources = "" %}
        {% for article in siteArticles %}
          {% assign asn = article.source.name | downcase | replace: ' ', '' | replace: '.', '' %}
          {% if forloop.first %}
            {% assign articleSources = articleSources | append: asn %}
          {% else %}
            {% assign articleSources = articleSources | append: ',' | append: asn %}
          {% endif %}
        {% endfor %}
        {% assign articleSources = articleSources | split: ',' %}
        {% assign articleSources = articleSources | uniq %}

        {% assign findex = 0 %}
        {% for press in sitePress %}
          {% assign pt = press.title | downcase | replace: ' ', '' | replace: '.', '' %}
          {% if articleSources contains pt %}
            {% assign findex = findex | plus: 1 %}
          {% endif %}
        {% endfor %}

        {% for press in sitePress %}
          {% assign pt = press.title | downcase | replace: ' ', '' | replace: '.', '' %}
          {% if articleSources contains pt %}
            {% if forloop.first %}
              <a class="selected" href="#{{ pt }}" style="width: calc(100% / {{ findex }})">
                {% assign pressUrl = press.image | split: '/' %}
                {% asset "{{ pressUrl | last }}" !type alt="{{ press.title }}" %}
                <p>{{ press.title }}</p>
              </a>
            {% else %}
              <a href="#{{ pt }}" style="width: calc(100% / {{ findex }})">
                {% assign pressUrl = press.image | split: '/' %}
                {% asset "{{ pressUrl | last }}" !type alt="{{ press.title }}" %}
                <p>{{ press.title }}</p>
              </a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<section class="sources">
    {% for press in sitePress %}
      {% assign pt = press.title | downcase | replace: ' ', '' | replace: '.', '' %}
      {% assign articleCountInSource = 0 %}
      {% for article in siteArticles %}
      {% assign asn = article.source.name | downcase | replace: ' ', '' | replace: '.', '' %}
        {% if asn == pt %}
          {% assign articleCountInSource = articleCountInSource | plus: 1 %}
        {% endif %}
      {% endfor %}
      {% if articleCountInSource > 3 %}
        <div class="slide slide-{{ forloop.index }}" id="{{ pt }}">
          <div class="container">
            <div class="row justify-content-between">
              {% assign index = 0 %}
              {% for article in siteArticles %}
                {% assign asn = article.source.name | downcase | replace: ' ', '' | replace: '.', '' %}
                {% if pt == asn %}
                  {% assign index = index | plus: 1 %}
                  {% if index < 4 %}
                    {% if index == 1 %}
                      <div class="col-lg-2 col-md-4 col-sm-12 column">
                        <a href="{{ article.url }}" class="article-of-source">
                          {% if article.image == "" %}
                            {% asset default.jpg !type alt="{{ article.title }}" %}
                          {% else %}
                            {% assign articleUrl = article.image | split: '/' %}
                            {% asset "{{ articleUrl | last }}" !type alt="{{ article.title }}" %}
                          {% endif %}
                          <p>
                            {{ article.title }}
                            <span class="date">{{ article.date | date: "%b %d, %Y" }}</span>
                            <span class="trunc">{{ article.content | strip_html | truncatewords: 10 }}</span>
                          </p>
                        </a>
                      </div>
                    {% else %}
                      <div class="col-lg-2 col-md-4 col-sm-6 col-12 column">
                        <a href="{{ article.url }}" class="article-of-source">
                          {% if article.image == "" %}
                            {% asset default.jpg !type alt="{{ article.title }}" %}
                          {% else %}
                            {% assign articleUrl = article.image | split: '/' %}
                            {% asset "{{ articleUrl | last }}" !type alt="{{ article.title }}" %}
                          {% endif %}
                          <p>
                            {{ article.title }}
                            <span class="date">{{ article.date | date: "%b %d, %Y" }}</span>
                            <span class="trunc">{{ article.content | strip_html | truncatewords: 10 }}</span>
                          </p>
                        </a>
                      </div>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endfor %}
              <div class="col-lg-6 col-12 column">
                {% assign index = 0 %}
                {% for article in siteArticles %}
                  {% assign asn = article.source.name | downcase | replace: ' ', '' | replace: '.', '' %}
                  {% if pt == asn %}
                    {% assign index = index | plus: 1 %}
                    {% if index >= 4 and index < 7%} 
                      <a href="{{ article.url }}" class="article-of-source">
                        {% if article.image == "" %}
                          {% asset default.jpg !type alt="{{ article.title }}" %}
                          <div class="bg-small">
                            <div class="img-holder" style="background-image: url({% asset "{% asset default.jpg @path %}"></div>
                          </div>
                        {% else %}
                          {% assign articleUrl = article.image | split: '/' %}
                          <div class="bg-small">
                            <div class="img-holder" style="background-image: url({% asset "{{ articleUrl | last }}" @path %})"></div>
                          </div>
                        {% endif %}
                        <p>
                          {{ article.title }}
                          <span>{{ article.date | date: "%b %d, %Y" }}</span>
                        </p>
                      </a>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% else %}
        <div class="slide slide-{{ forloop.index }}" id="{{ pt }}">
          <div class="container">
            <div class="row">
              {% assign index = 0 %}
              {% for article in siteArticles %}
                {% assign asn = article.source.name | downcase | replace: ' ', '' | replace: '.', '' %}
                {% if pt == asn %}
                  {% assign index = index | plus: 1 %}
                  {% if index == 1 %}
                    <div class="col-md-4 col-12 column s3">
                      <a href="{{ article.url }}" class="article-of-source">
                        {% if article.image == "" %}
                          {% asset default.jpg !type alt="{{ article.title }}" %}
                        {% else %}
                          {% assign articleUrl = article.image | split: '/' %}
                          {% asset "{{ articleUrl | last }}" !type alt="{{ article.title }}" %}
                        {% endif %}
                        <p>
                          {{ article.title }}
                          <span class="date">{{ article.date | date: "%b %d, %Y" }}</span>
                          <span class="trunc">{{ article.content | strip_html | truncatewords: 10 }}</span>
                        </p>
                      </a>
                    </div>
                  {% else %}
                    <div class="col-md-4 col-sm-6 col-12 column s3">
                      <a href="{{ article.url }}" class="article-of-source">
                        {% if article.image == "" %}
                          {% asset default.jpg !type alt="{{ article.title }}" %}
                        {% else %}
                          {% assign articleUrl = article.image | split: '/' %}
                          {% asset "{{ articleUrl | last }}" !type alt="{{ article.title }}" %}
                        {% endif %}
                        <p>
                          {{ article.title }}
                          <span class="date">{{ article.date | date: "%b %d, %Y" }}</span>
                          <span class="trunc">{{ article.content | strip_html | truncatewords: 10 }}</span>
                        </p>
                      </a>
                    </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>

<section class="articles">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>
          CHECK OUT MORE ARTICLES ABOUT
          {% for category in site.categories %}
          <a href="{{ category.url }}" class="index-categories">{{ category.title }}</a>
          {% endfor %}
        </p>
        <a href="/articles/" class="all-articles">All Articles</a>
      </div>
    </div>
  </div>
  
</section>

<div class="artworks-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2>Artworks<a href="/artworks/">See All Artworks</a></h2>
      </div>
    </div>
  </div>
</div>

<section class="artworks-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        {% assign siteArtworks = site.artworks | sort: "date" | reverse %}
        {% for artwork in siteArtworks %}
          <a href="{{ artwork.url }}">
            {% assign artworkUrl = artwork.image | split: '/' %}
            <div class="main-bg-artwork-holder" style="background-image: url({% asset "{{ artworkUrl | last }}" @path %})"></div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>