<footer>
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-12">
        <p>
          © Copyright - <a href="{{ site.url }}">Dana Loberg</a>
        </p>
        
      </div>
      <div class="col-sm-6 col-12">
        <div class="social">
          <a href="https://twitter.com/luckyloberg" class="twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="https://www.linkedin.com/in/danaloberg" class="linkedin">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="https://medium.com/@danaloberg" class="medium">
            {% asset medium.png !type alt="Medium" %}
            {% asset mediumm.png !type alt="Medium" style="display: none;" class="img-hidden" %}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-buttons">
    <a href="#" class="scroll-top" style="display: none;">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>
</footer>
{%- include footer_assets.html -%}
