<header class="main_menu page">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-6">
        <a href="{{ "/" | relative_url }}" class="logo">
          {% asset logob.png !type alt="Dana Loberg Logo" %}
        </a>
      </div>
      <div class="col-md-8 col-6">
        <div class="menu">
          <ul>
            <li>
              <a href="{{ "/" | relative_url }}">Home</a>
            </li>
            <li>
              <a href="/articles/">Articles</a>
            </li>
            <li>
              <a href="/artworks/">Artworks</a>
            </li>
            <!-- <li>
              <a href="#" class="search">
                <i class="fa fa-search"></i>
              </a>
            </li> -->
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="social">
          <a href="https://twitter.com/luckyloberg" class="twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="https://www.linkedin.com/in/danaloberg" class="linkedin">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="https://medium.com/@danaloberg" class="medium hover">
            {% asset medium.png !type alt="Medium" class="img-hidden" %}
            {% asset mediumm.png !type alt="Medium" %}
          </a>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="menu-icon d-md-none d-block">
    <i class="fa fa-bars"></i>
  </a>
</header>