#article{
  padding: 50px 0;
}
#article .feature-image{
  border-radius: 4px;
  margin: 0 auto 25px;
  display: block;
}
#article h1{
  text-align: center;
  font-size: 30px;
  line-height: 1.3em;
  margin-bottom: 15px;
  font-weight: 600;
  letter-spacing: .9px;
}
#article .meta-infos{
  text-align: center;
  font-size: 12px;
  color: #707070;
  line-height: 20px;
  margin-bottom: 15px;
}
#article .meta-infos a{
  color: inherit;
}
#article .meta-infos a:hover{
  color: #eb3b3b;
  text-decoration: underline;
}
#article .content{
  line-height: 25px;
  font-size: 15px;
  text-align: justify;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 25px;
}
#article .content p{
  margin-top: 15px;
}
#article .content h2{
  font-size: 28px;
  line-height: 1.1em;
  margin-top: 30px;
  font-weight: 600;
}
#article .content strong{
  font-weight: 600;
}
#article .content strong, #article .content em, #article .content a{
  color: #a81010;
}
#article .content a:hover{
  color: #eb3b3b;
  text-decoration: underline;
}
#article .content iframe{
  margin-top: 15px;
  width: 100%;
}
#article .content ol{
  padding-left: 25px;
  list-style-type: decimal;
  margin-top: 15px;
}
#article .content ul{
  padding-left: 25px;
  list-style-type: disc;
  margin-top: 15px;
}
#article .content blockquote{
  border-left-style: solid;
  border-left-width: 7px;
  padding-left: 20px;
  margin-bottom: 1em;
  margin-right: 1em;
  font-size: 1.235em;
  line-height: 1.5em;
  color: #919191;
  border-color: #a81010;
  font-style: unset; 
}
#article .content-footer .meta p{
  font-size: 15px;
  line-height: 25px;
  font-size: 15px;
  text-align: justify;
  margin-bottom: 15px;
}
#article .content-footer .meta p strong{
  font-weight: 600;
}
#article .content-footer .meta p strong, #article .content-footer .meta p a{
  color: #a81010;
}
#article .content-footer .meta p a:hover{
  color: #eb3b3b;
  text-decoration: underline;
}
#article .content-footer p.tags{
  font-size: 13px;
}
#article .content-footer p.tags strong{
  color: #a81010;
}
#article .content-footer p.tags a{
  color: #707070;
}
#article .share{
  margin: 15px 0;
}
#article .share p{
  line-height: 40px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
}
#article .share ul li{
  display: inline-block;
  width: calc(100% / 9);
  float: left;
  text-align: center;
  height: 60px;
  line-height: 60px;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
}
#article .share ul li:first-child{
  border-left: 1px solid #e1e1e1;
}
#article .share ul li a{
  color: #707070;
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  transition: all 0.2s ease-in-out;
}
#article .share ul li a:hover{ color: #fff }
#article .share ul li:nth-child(1) a:hover{ background-color: #37589b }
#article .share ul li:nth-child(2) a:hover{ background-color: #46d4fe }
#article .share ul li:nth-child(3) a:hover{ background-color: #de5a49 }
#article .share ul li:nth-child(4) a:hover{ background-color: #cb2027 }
#article .share ul li:nth-child(5) a:hover{ background-color: #419cca }
#article .share ul li:nth-child(6) a:hover{ background-color: #345574 }
#article .share ul li:nth-child(7) a:hover{ background-color: #597ba5 }
#article .share ul li:nth-child(8) a:hover{ background-color: #ff4500 }
#article .share ul li:nth-child(9) a:hover{ background-color: #9fae37 }
#article .maylike{
  margin-top: 60px;
}
#article .maylike h3{
  line-height: 40px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
#article .maylike a{
  padding: 5px;
  border: 1px solid #e1e1e1;
  background-color: #fcfcfc;
  display: block;
  border-radius: 3px;
  width: 100%;
  height: 70px;
  margin-bottom: 15px;
}
#article .maylike a .feat-bg{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: inline-block;
  float: left;
  margin-right: 10px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#article .maylike a p{
  display: inline-flex;
  align-items: center;
  float: left;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  height: 60px;
  width: calc(100% - 70px);
  color: #000;
}
@media (max-width: 1199.98px) {

}
@media (max-width: 991.98px) {

}
@media (max-width: 767.98px) {
  #article h1{
    font-size: 24px;
  }
}
@media (max-width: 575.98px) {
  #article h1{
    font-size: 22px;
  }
  #article .share ul li{
    width: calc(100% / 3);
    border: none !important;
  }
  #article .share ul li a{color: #fff;}
  #article .share ul li:nth-child(1) a{ background-color: #37589b }
  #article .share ul li:nth-child(2) a{ background-color: #46d4fe }
  #article .share ul li:nth-child(3) a{ background-color: #de5a49 }
  #article .share ul li:nth-child(4) a{ background-color: #cb2027 }
  #article .share ul li:nth-child(5) a{ background-color: #419cca }
  #article .share ul li:nth-child(6) a{ background-color: #345574 }
  #article .share ul li:nth-child(7) a{ background-color: #597ba5 }
  #article .share ul li:nth-child(8) a{ background-color: #ff4500 }
  #article .share ul li:nth-child(9) a{ background-color: #9fae37 }
}