.article-header{
  padding: 30px;
  background-color: #fff;
  margin-bottom: 15px;
  margin-right: 15px;
}
.article-header h1{
  line-height: 30px;
  font-size: 24px;
  font-weight: 500;
  display: inline-block;
}
.article-header .category-list{
  float: right;
  color: #000;
  font-size: 20px;
  display: inline-block;
}
.article-header .category-list a{
  line-height: 30px;
  font-size: 16px;
  color: #a81010;
  width: unset;
  display: unset;
}
.article-header .category-list a.active{
  color: #000;
  cursor: default;
}
.article-header .category-list a:hover{
  color: #a81010;
}
.article-header .category-list a.active:hover{
  color: #000;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-item{
  float: left;
  padding-bottom: 15px;
  padding-right: 15px;
}
.grid-sizer,
.grid-item {
  width: 33.33%;
}
.article-list{
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  background: #ebebeb;
}
.article-list a{
  background-color: #fff;
  display: block;
  width: 100%;
}
.article-list img{
  width: 100%;
}
.article-list-info{
  padding: 15px;
}
.article-list-info .title{
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}
.article-list-info .excerpt{
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;
}
.article-list-info .date{
  font-size: 11px;
  font-weight: 300;
  line-height: 15px;
  color: #808080;
}
@media (max-width: 1199.98px) {

}
@media (max-width: 991.98px) {
  .article-header h1{
  font-size: 22px;
  }
  .article-header .category-list a{
    font-size: 14px;
  } 
}
@media (max-width: 767.98px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
  .article-header .category-list{
    float: unset;
    display: block;
    margin-top: 15px;
  }
}
@media (max-width: 575.98px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}