.artwork-list{
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  background: #ebebeb;
}
.artwork-list a{
  background-color: #fff;
  display: block;
  width: 100%;
}
.bg-artwork-holder{
  width: 100%;
  height: calc(100% - 50px);
  display: block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.artwork-list-info{
  padding: 15px;
}
.artwork-list-info .title{
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}