#artwork .col-md-10{
  background-color: #f7f7f7;
}
#artwork .col-md-2{
  background-color: #860606;
  display: flex;
  height: 100%;
  align-items: center;
}
.artwork-content{
  padding: 30px 15px;
}
.artwork-content h1{
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}
.artwork-content p{
  line-height: 20px;
  font-size: 14px;
  color: #666;
}
#artwork .number{
  color: #fff;
  text-align: center;
  line-height: 25px;
  display: block;
  width: 100%;
}
#artwork .number span{
  display: block;
  font-size: 40px;
  line-height: 40px;
}
.grid-2{
  
}
.grid-sizer-col-3,
.grid-item-col-3{
  width: 25%;
}
.grid-item-col-3{
  padding-bottom: 15px;
  padding-right: 15px;
  float: left;
}
.image-list{
  padding-top: 15px;
  padding-left: 15px;
  background-color: #ebebeb;
}
.image-list a{
  background-color: #fff;
  display: block;
  width: 100%;
}
.image-list img{
  width: 100%;
}
.image-list-info{
  padding: 15px;
}
.image-list-info .title{
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}
@media (max-width: 1199.98px) {

}
@media (max-width: 991.98px) {
  .grid-sizer-col-3,
  .grid-item-col-3{
    width: 33.333%;
  }
}
@media (max-width: 767.98px) {
  .grid-sizer-col-3,
  .grid-item-col-3{
    width: 50%;
  }
}
@media (max-width: 575.98px) {
  .grid-sizer-col-3,
  .grid-item-col-3{
    width: 100%;
  }
}