footer .social{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  float: right;
}
footer .social a{
  margin-left: 15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  padding: 0;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  align-items: center;
  position: relative;
}
footer .social a:hover{
  color: #fff;
}
footer .social a.scrolled:hover{color: #fff !important;}
footer .social a.twitter:hover{background-color: #46d4fe;}
footer .social a.linkedin:hover{background-color: #419cca;}
footer .social a.medium:hover{background-color: #34e79a;}
footer .social a img{
  position: absolute;
  left: 7.5px;
  top: 8.5px;
  display: block;
  height: 15px;
  width: 15px;
}
footer{
  padding: 10px 0;
  background-color: #333;
}
footer p{
  color: #fff;
  font-size: 12px;
  line-height: 30px;
}
footer p a{
  color: #fff !important;
}
footer p a:hover{
  color: #fff;
  text-decoration: underline;
}
footer strong{
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  display: block;
}
.footer-buttons{
  position: fixed;
  bottom: 15px;
  right: 30px;
}
.footer-buttons a{
  background-color: #00000080;
  display: inline-block;
  color: #fff;
  height: 45px;
  line-height: 45px;
  width: 45px;
  text-align: center;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-left: 5px;
  font-size: 20px;
}
.footer-buttons a:hover{
  background-color: #a81010;
  color: #fff !important;
}
@media (max-width: 1199.98px) {
 
}
@media (max-width: 991.98px) {

}
@media (max-width: 767.98px) {
  .footer-buttons{
    right: 15px;
  }
}
@media (max-width: 575.98px) {
  footer{
    text-align: center;
  }
  footer .social {
    float: unset;
  }
  footer .social a{
    margin-left: 0;
  }
}
