header{
  background-color:rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255,255,255,.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 90px;
  transition: background-color 0.3s cubic-bezier(.25,.8,.25,1);
}
header.page{
  background-color:rgba(255, 255, 255, 0.95);
  border-color: #e1e1e1;
}
header .logo {
  display: block;
}
header .logo .img-hidden{
  display: none;
}
header .logo img{
  display: block;
  height: 90px;
}
header .logo img:first-child{
  display: block;
}
header .logo img:nth-child(2){
  display: none;
}
header .menu{
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  justify-content: flex-end;
}
header .menu li{
  display: inline-block;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
header .menu li a{
  margin: 0 6.5px;
  padding: 10px 2px;
  color: #fff;
  height: 100%;
  line-height: 100%;
  vertical-align: middle;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
header.page .menu li a{
  color: #808080;
}
header .menu li a:hover{
  opacity: .8;
  border-bottom: 2px solid #a81010;
}
header .menu li a.search{
  margin: 0 0 0 6.5px;
  padding: 10px 0px 10px 2px;
}
header .menu li a.search:hover{
  color: #333;
  border-bottom: none;
}
header .social{
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header.page .row .col-md-2:last-child{
  border-left: 1px solid #e1e1e1;
}
header .row .col-md-2:last-child{
  border-left: 1px solid rgba(255,255,255,.25);
}
header .social a{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  padding: 0;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  align-items: center;
  position: relative;
}
header.page .social a{
  color: #808080;
}
header.page .social a:hover{
  color: #fff;
}
header .social a.scrolled:hover{color: #fff !important;}
header .social a.twitter:hover{background-color: #46d4fe;}
header .social a.linkedin:hover{background-color: #419cca;}
header .social a.medium:hover{background-color: #34e79a;}
header .social a img{
  position: absolute;
  left: 7.5px;
  top: 8.5px;
  display: block;
  height: 15px;
  width: 15px;
}
@media (max-width: 1199.98px) {
  
}
@media (max-width: 991.98px) {

}
@media (max-width: 767.98px) {
  header .social{
    border-left: none;
    height: 90px;
    position: fixed;
    top: 0;
    width: 510px;
    display: none;
  }
  header.page .row .col-md-2:last-child{
    border-left: none;
  }
  header .row .col-md-2:last-child{
    border-left: none;
  }
  header .menu{
    display: none;
    overflow: hidden;
    position: fixed;
    float: unset;
    width: 100vw;
    height: 100vh;
    background-color: #000000d9;
    padding-top: 90px;
    left: 0;
    top: 0;
  }
  header .menu li{
    height: 50px;
    line-height: 50px;
    display: block;
    width: 100%;
    text-align: center;
  }
  header .menu li:hover {
    border: unset;
    height: 50px;
    line-height: 50px;
  }
  header .menu li a{
    line-height: 50px;
    height: 50px;
    display: block;
    color: #fff;
  }
  header.page .menu li a{
    color: #fff !important;
  }
  header .logo img:first-child{
    display: block;
  }
  header .logo img:nth-child(2){
    display: none;
  }
  header .menu-icon{
    width: 60px;
    height: 60px;
    right: calc(50% - 275px);
    top: 15px;
    line-height: 60px;
    position: fixed;
    color: #fff;
    font-size: 26px;
    text-align: center;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  header.page .menu-icon{
    color: #000 !important;
  }
  header.page.open .menu-icon{
    color: #fff !important;
    top: 15px !important;
  }
  header.page .social a{
    color: #fff;
  }
  header.page .social a img:nth-child(2){
    display: none !important;
  }
  header.page .social a img:nth-child(1){
    display: block !important;
  }
}
@media (max-width: 575.98px) {
  header .social{
    left: 0;
    top: 0;
    width: 100%;
  }
  header .menu-icon{
    right: 0;
  }
}