.jumbo{
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
}
.jumbo .message{
  background-color: #00000080;
  padding: 10px;
  text-align: right;
  color: #fff;
}
.message h1{
  margin-bottom: 15px;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.1em;
}
.message p{
  font-size: 18px;
  line-height: 25px;
}
.articles{
  background-color: #e2e2e2;
  display: flex;
  align-items: center;
  height: 150px;
}
.articles p{
  line-height: 60px;
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  float: left;
}
.articles p a{
  color: #a81010;
  font-weight: 500;
}
a.all-articles{
  float: right;
  display: inline-block;
  height: 60px;
  padding: 0 60px;
  line-height: 60px;
  color: #fff;
  background-color: #a81010;
  border-radius: .286rem;
  text-transform: uppercase;
  text-align: center;
}
a.all-articles:hover{
  background-color: #ae2525;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.press{
  padding: 30px 0;
  background-color: #e2e2e2;
}
.press a{
  float: left;
  padding: 0 15px;
}
.press a img{
  transition: filter 0.3s cubic-bezier(.25,.8,.25,1);
  filter: grayscale(100%) opacity(60%);
}
.press a:hover img{
  filter: grayscale(100%) opacity(100%);
}
.press a p{
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  line-height: 20px;
  font-size: 10px;
  text-align: center;
  color: #555555;
  text-transform: uppercase;
}
.press a:hover p{
  color: #000;
}
.press a.selected img{
  filter: unset;
}
.press a.selected:hover img{
  filter: unset;
}
.press a.selected p{
  color: #a81010;
}
.press a.selected:hover p{
  color: #a81010;
}
.sources{
  background-color: #fff;
  position: relative;
}
.sources .slide{
  padding: 50px 0 30px;
  display: none;
  width: calc(100vw - 20px);
  position: absolute;
  top: 0;
  left: 0;
}
.col-lg-2 .article-of-source{
  display: block;
}
.col-md-4.s3 .article-of-source{
  display: block;
  width: 100%;
}
.col-lg-6 .article-of-source{
  display: block;
  width: 100%;
  margin-bottom: 10px;
  float: left;
}
.col-lg-2 .article-of-source img{
  border-radius: 3px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.col-md-4.s3 .article-of-source img{
  border-radius: 3px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.col-lg-6 .article-of-source .bg-small{
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
  width: 60px;
  height: 60px;
  padding: 5px;
  display: inline-block;
}
.col-lg-6 .article-of-source .img-holder{
  border-radius: 3px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.col-lg-2 .article-of-source p{
  line-height: 18px;
  font-size: 14px;
  font-weight: 600;
}
.col-md-4.s3 .article-of-source p{
  line-height: 18px;
  font-size: 14px;
  font-weight: 600;
}
.col-lg-6 .article-of-source p{
  display: inline-block;
  float: right;
  width: calc(100% - 70px);
  margin-left: 10px;
  line-height: 17.5px;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #e1e1e1;
  min-height: 60px;
}
.col-lg-2 .article-of-source p span.date,
.col-md-4.s3 .article-of-source p span.date{
  color: #808080;
  line-height: 15px;
  margin: 5px 0 15px;
  font-weight: 400;
  font-size: 10px;
}
.col-lg-2 .article-of-source p span.trunc,
.col-md-4.s3 .article-of-source p span.trunc{
  color: #3d3d3d;
  line-height: 15px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 13px
}
.col-md-4.s3 .article-of-source p span.date,
.col-md-4.s3 .article-of-source p span.trunc{
  display: block;
}
.col-lg-2 .article-of-source p span.date,
.col-lg-2 .article-of-source p span.trunc{
  display: none;
}
.col-lg-6 .article-of-source p span{
  text-transform: uppercase;
  display: block;
  margin-top: 5px;
  color: #808080;
  line-height: 15px;
  font-weight: 400;
  font-size: 10px;
}
.artworks-header h2{
  line-height: 30px;
  font-size: 20px;
  margin: 30px 15px 0;
  font-weight: 500;
  display: block;
}
.artworks-header h2 a{
  color: #a81010;
  float: right;
  font-weight: 300;
  font-size: 16px;
}
.artworks-section{
  margin: 30px;
  padding: 15px 0;
  background-color: #ebebeb;
}
.artworks-section a{
  display: inline-block;
  margin-right: 15px;
  float: left;
  width: calc((100% - 75px) / 6);
  height: 230px;
}
.artworks-section a:last-child{
  margin-right: 0;
}
.main-bg-artwork-holder{
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (max-width: 1199.98px) {
  .press .col-12{
    overflow-x: scroll;
    white-space: nowrap;
  }
  .press .col-12::-webkit-scrollbar {
    display: none;
  }
  .press .col-12::-webkit-scrollbar-track {
    display: none;
  }
  .press .col-12::-webkit-scrollbar-thumb {
    display: none;
  }
  .press .col-12::-webkit-scrollbar-thumb:hover {
    display: none;
  }
  .press .col-12 a{
    width: 120px !important;
    display: inline-block;
    float: unset;
    word-break: break-all;
  }
  .press .col-12 a p{
    word-break: break-all;
  }
}
@media (max-width: 991.98px) {
  .message h1{
    font-size: 30px;
  }
  .message p{
    font-size: 14px;
  }
  .col-lg-2 .article-of-source p span.date,
  .col-lg-2 .article-of-source p span.trunc{
    display: block;
  }
  .sources .col-lg-2, .sources .col-lg-6, .sources .s3{
    margin-bottom: 30px;
  }
  .articles p{
    line-height: 50px;
    font-size: 16px;
  }
  a.all-articles{
    font-size: 16px;
    height: 50px;
    padding: 0 30px;
    line-height: 50px;
  }
}
@media (max-width: 767.98px) {
  .sources .slide{
    padding: 50px 0 30px;
    display: none;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
  }
  .jumbo{
    height: 500px;
    background-position-y: -100px;
  }
  .message h1{
    font-size: 30px;
  }
  .message p{
    font-size: 17px;
  }
  .articles p{
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    float: unset;
    display: block;
  }
  a.all-articles{
    font-size: 14px;
    height: 50px;
    width: 200px;
    margin: 0 auto;
    padding: 0;
    display: block;
    line-height: 50px;
    float: unset;
  }
  .artworks-section a{
    width: calc((100% - 30px) / 3);
  }
  .artworks-section a:nth-child(3){
    margin-bottom: 15px;
  }
  .artworks-section a:nth-child(3){
    margin-bottom: 15px;
  }
  .artworks-section a:nth-child(3){
    margin-right: 0;
    margin-bottom: 15px
  }
}
@media (max-width: 575.98px) {
  .jumbo{
    height: 350px;
  }
  .message{
    margin-top: 80px;
  }
  .message h1{
    font-size: 24px;
  }
  .message p{
    font-size: 12px;
    line-height: 16px;
  }
  .press .col-12 a{
    display: inline-block;
    float: unset;
    word-break: break-all;
  }
  .articles p{
    line-height: 25px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  a.all-articles{
    height: 45px;
    width: 180px;
    line-height: 45px;
  }
}