// RESET CSS

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big,  cite, code,
del, dfn, em, img, ins,  kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, 
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    color: inherit;
    font-size: 100%;
    vertical-align: baseline;
    letter-spacing: .7px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
}

a:hover{
    text-decoration: inherit;
    color:inherit;
}

input:focus, button:focus {
    outline: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 0;
    overflow-x: hidden;
}
ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// END RESET CSS

// GENERAL

*::selection { 
  background: #a81010; 
  color: #fff;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.page-content{
  padding-top: 90px;
  min-height: calc(100vh - 50px);
  padding-bottom: 0;
  flex: unset;
}

// END GENERAL