---
layout: page
---

<div id="article">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-9">
        <div class="article-featured-image">
          {% assign fullUrl = page.image | split: '/' %}
          {% if fullUrl.last != "" %}
            {% asset "{{ fullUrl | last }}" !type alt="{{page.title}}" class="feature-image img-fluid" %}
          {% endif %}
        </div>
        <h1 class="text-center">{{ page.title }}</h1>
        <p class="meta-infos">
          {% assign dateP = page.date | date: "%d%Y" %}
          {% if dateP != "012015" %}{{ page.date | date: "%b %d, %Y"}}{% endif %}
          {% if page.categories[1] != "" %} / in <a href="{{ page.categories[1].url }}">{{ page.categories[1] }}</a>{% endif %}
          {% if page.author != "" %} / by <a href="/{{ page.author | downcase | replace: ' ', '-' }}">{{ page.author }}</a>{% endif %}
        </p>
        <div class="content">
          {{ content }}
          {% if page.video.title != "" %}
            <p>
              <strong>Related Video: </strong><a href="{{ page.video.url }}">{{ page.video.title }}</a>
            </p>
            {{ page.video.iframe }}
          {% endif %}
        </div>
        <div class="content-footer">
          <div class="meta">
            {% if page.source.url != "" %}
              <p>
                <strong>Source: </strong><a href="{{ page.source.url }}">{{ page.title }}</a>
              </p>
            {% endif %}
            <!-- {% if page.tags.size > 0 %}
              <p class="tags">
                <strong>
                  Tags: 
                </strong>
                {% for tag in page.tags %}
                  {% if forloop.last == true %}
                    <a href="#">{{ tag }}</a>
                  {% else %}
                    <a href="#">{{ tag }}</a>,
                  {% endif %}
                {% endfor %}
              </p>
            {% endif %} -->
          </div>
          <div class="share">
            <p>Share This Entry</p>
            <ul>
              {% assign pageUrl = site.url | append: page.url %}
              <li>
                <a target="_blank" href="https://www.facebook.com/sharer.php?u={{ pageUrl }}&amp;t={{ page.title }}">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://twitter.com/share?text={{ page.title }}&amp;url={{ pageUrl }}">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://plus.google.com/share?url={{ pageUrl }}">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://pinterest.com/pin/create/button/?url={{ pageUrl }}&amp;description={{ page.title }}&amp;media={{ site.url }}{% asset "{{ fullUrl | last }}" @path %}">
                  <i class="fa fa-pinterest-p"></i>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://linkedin.com/shareArticle?mini=true&amp;title={{ page.title }}&amp;url={{ pageUrl }}">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://www.tumblr.com/share/link?url={{ pageUrl }}&amp;name={{ page.title }}&amp;description={{ page.description }}">
                  <i class="fa fa-tumblr"></i>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://vk.com/share.php?url={{ pageUrl }}">
                  <i class="fa fa-vk"></i>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://reddit.com/submit?url={{ pageUrl }}&amp;title={{ page.title }}">
                  <i class="fa fa-reddit-alien"></i>
                </a>
              </li>
              <li>
                <a href="mailto:?subject={{ page.title }}&amp;body={{ pageUrl }}">
                  <i class="fa fa-envelope"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% assign number = 0 %}
    {% for article in site.articles %}
      {% for aCategory in article.categories %}
        {% assign pCategory = page.categories[1] %}
        {% if pCategory == aCategory and article.url != page.url %}
          {% assign number = number | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% if number != 0 %}
      <div class="row maylike">
        <div class="col-12">
          <h3>You might also like</h3>
        </div>
        {% assign aindex = 0 %}
        {% for article in site.articles %}
          {% for aCategory in article.categories %}
            {% assign pCategory = page.categories[1] %}
            {% if pCategory == aCategory and article.url != page.url and aindex < 6 %}
              {% assign aindex = aindex | plus: 1 %}
              <div class="col-md-6 col-12">
                <a href="{{ article.url }}">
                  {% if article.image == "" %}
                    <div class="feat-bg" style="background-image: url({% asset default.jpg @path %})"></div>
                  {% else %}
                    {% assign articleUrl = article.image | split: '/' %}
                    <div class="feat-bg" style="background-image: url({% asset "{{ articleUrl | last }}" @path %})"></div>
                  {% endif %}
                  <p>
                    {{ article.title }}{{ aindex }}
                  </p>
                </a>
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    {% endif %}
    
  </div>
</div>
