---
layout: page
---
{% assign images = site.gallery_images %}
<div id="artwork">
  <div class="container-fluid">
    <div class="row" id="matchHeight">
      <div class="col-md-10 col-12">
        <div class="artwork-content">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>
      <div class="col-md-2 col-12">
        {% assign number = 0 %}
        {% for image in images %}
          {% if image.gallery == page.gallery %}
            {% assign number = number | plus: 1 %}
          {% endif %}
        {% endfor %}
        <p class="number">
          <span>{{ number }}</span>Paintings
        </p>
      </div>
    </div>
  </div>
  <div class="image-list">
    <div class="grid-2">
      <div class="grid-sizer-col-3"></div>
      {% for image in images %}
        {% if image.gallery == page.gallery %}
          {% assign imageUrl = image.image | split: '/' %}
          <div class="grid-item-col-3">
            <a href="{% asset "{{ imageUrl | last }}" @path %}" data-lightbox="artworks">
              {% asset "{{ imageUrl | last }}" !type alt="{{ image.title }}" %}
              <div class="image-list-info">
                <p class="title">
                  {{ image.title }}
                </p>
              </div>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
