---
layout: page
---
<div class="article-list">
  <div class="grid">
    <div class="grid-sizer"></div>
    {% assign page.categories.first = pageTag %}
    {% assign page.title = page.title | downcase | replace: ' ', '' %}
    {% assign siteArticles = site.articles | sort: "date" | reverse %}
    {% for article in siteArticles %}
      {% for articleCat in article.categories%}
        {% assign articleCat = articleCat | downcase | replace: ' ', '' %}
        {% if articleCat == page.title %}
          <div class="grid-item">
            <a href="{{ article.url }}">
              {% if article.image == "" %}
              {% asset default.jpg !type alt="{{ article.title }}" %}
              {% else %}
              {% assign articleUrl = article.image | split: '/' %}
              {% asset "{{ articleUrl | last }}" !type alt="{{ article.title }}" %}
              {% endif %}
              <div class="article-list-info">
                <p class="title">
                  {{ article.title }}
                </p>
                <p class="excerpt">
                  {{ article.content | strip_html | truncatewords: 10 }}
                </p>
                <p class="date">
                  {{ article.date | date: "%b %d, %Y" }}
                </p>
              </div>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>